@import url(http://fonts.googleapis.com/css?family=PT+Sans:700|Bitter:700|Bree+Serif);


@font-face{
  font-family: 'LeagueGothic';
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
  url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype')
}
