.food-item {
  width: 145px;
  margin-left: 25px;
  padding-bottom: 6px;

  &:first-child {
    margin-left: 0;
  }

  img {
    border: 6px solid #fff;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    margin-top: 10px;
  }
}


.price {
  margin-top: 5px;
  font-size: 15px;
}
