$font-heading: Bitter, serif;
$font-fancy-heading: 'Bree Serif', serif;
$font-regular: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
$font-regular-secondary: 'PT Sans', sans-serif;
$font-gothic: 'LeagueGothic', sans-serif;
$color-attention: #ce5f43;
$color-brand: #44798f;
$color-brand-dark: #2f5e70;
$tablet: 1024px;